<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro | usuarios</title>
</head>
<body>
    <h1>cadastro de usuarios</h1>

    <form method="post">
        <input type="text" name="nome" placeholder="Nome: ">
        <input type="text" name="email" placeholder="Email: ">
        <input type="text" name="telefone" placeholder="telefone: ex (99) 9 9999-9999 ">
        <input type="submit" value="Enviar" name="acao">
    </form>

    <!--
    <ul>
        <%// lista.forEach(function(user){ %>
            <li><%=// user.telefone %></li>
        <%// }); %>
        // esse comando todo acima mostra como percorer um grupo de parametros num array
    </ul>
    -->
</body>
</html>
