<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuarios cadastrados</title>
</head>
<body>
    <!--
    <h1><%=// nome %></h1>
    <h2><%=// profissao %></h2>
    -->
    <h1>usuarios cadastrados</h1>
    <ul>
        <% lista.forEach(function(user){ %>
            <li><%= user.nome %></li>
        <% }); %>
    </ul>
    
    
</body>
</html>